---
# Include OS-specific installation tasks.
- include: setup-RedHat.yml
  when: (ruby_install_from_source == false) and (ansible_os_family == 'RedHat')

- include: setup-Debian.yml
  when: (ruby_install_from_source == false) and (ansible_os_family == 'Debian')

# Install ruby from source when ruby_install_from_source is true.
- include: install-from-source.yml
  when: ruby_install_from_source == true
